<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produits Mercadona</title>

<link  href="{% static 'css/bootstrap.min.css' %}"  rel="stylesheet">
<link  href="{% static 'css/base.css' %}"  rel="stylesheet" >

     {% block head %}
        <!-- Ici, vous pouvez inclure des balises link ou des balises style pour lier vos fichiers CSS -->
    {% endblock %}

</head>


<body>

<div class="header-logo">
<img src="{% static 'images/logo.png' %}" class="logo">
</div>

<!-- on récupère le name que l'on a saisi dans url.py -->
<a href="{% url 'index' %}">
<h1>Mercadona vous souhaite la bienvenue!</h1>
</a>

<h3>Profitez de nos promotions pendant toute l'année</h3>

{% block content %}

{% endblock %}






<script src ="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>